*.iml
.idea/

local.properties

.gradle/
build/
*/build/
.cxx/
.externalNativeBuild/

captures/
.DS_Store

.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

Thumbs.db

*.log
*.keystore
*.jks
output.json
test-output/
coverage.ec
*.ec
*.exec
